<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    <style>
        h1 {
            font-family: 'Allura', cursive;
            font-size: 100px;
            text-align: center;
        }
        body{
            background-image: url("/photos/review.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .book-div{
            margin-left: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/books">All books</a></li>
                <li><a href="/addBook">Add a book</a></li>
                <li><a href="/reviews">Review</a></li>
                <li><a href="/addReview">Add a review</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()" ><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<h1> Here are details about the book</h1>
<form th:action="${requestUrl + '/update'}" method="post">
    <div class="product-container">
        <div class="book-div">
            <div style="display: flex;align-items: center; font-size: 25px ">
                <div style="flex: 1;">
                    <img th:src="${bookDto.photo}" style="width: 350px; height: 400px;">
                </div>
                <div style="flex: 2;">
                    <div>
                        <span>Name:</span>
                        <span  th:text="${bookDto.name}"></span>
                    </div>
                    <div>
                        <span>Author:</span>
                        <span th:text="${bookDto.author}"></span>
                    </div>

                    <div>
                        <span>Pages:</span>
                        <span th:text="${bookDto.pages}"></span>
                    </div>

                    <div>
                        <span>Publisher:</span>
                        <span th:text="${bookDto.publisher}"></span>
                    </div>

                    <div>
                        <span>Genre:</span>
                        <span th:text="${bookDto.genre}"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="inputStatus">Book Status</label>
                        <select name="newStatus" id="inputStatus">
                            <option th:value="UNREAD" th:selected="${bookDto.status == 'UNREAD'}">Unread</option>
                            <option th:value="CURRENTLY_READING" th:selected="${bookDto.status == 'CURRENTLY_READING'}">Currently reading</option>
                            <option th:value="DNF" th:selected="${bookDto.status == 'DNF'}">DNF</option>
                            <option th:value="READ" th:selected="${bookDto.status == 'READ'}">Read</option>
                        </select>
                        <button type="submit" class="btn btn-primary" >Save update.</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</form>
</body>
</html>